* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Libre Franklin 700';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/librefranklin/v7/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhycKkANDJ.woff2) format('woff2');
}

@font-face {
  font-family: 'Libre Franklin 400';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/librefranklin/v7/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWkANDJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/merriweather/v27/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 30px 10%;
  display: block;
  background-color: #413E46;
}

h1 {
  font-family: 'Libre Franklin 700';
  display: block;
  font-size: 2em;
  text-align: auto;
  font-weight: bold;
  color: #FDF8F9;
 }

h2 {
  font-family: 'Merriweather';
  display: block;
  font-size: 1.5em;
  text-align: auto;
  font-weight: bold;
  padding-left: 10px;
  color: #FDF8F9;
 }

p {
  font-family: 'Libre Franklin 400';
  display: block;
  font-size: 1em;
  text-align: auto;
  color: #fff;
 }

section {
  display: block;
  border: 2px solid #997adb;
  padding: 10px;
  margin: 10px auto;
  background-color: #1D1F20;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  color: #fff;
}


/* class selectors */

.color-container { 
  width: 100%; 
}

.color-panel {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.purple {
  background-color: #997adb;
  color: #fff;
}

.green {
  background-color: #549769;
  color: #fff;
}

.brown {
  background-color: #453F26;
  color: #fff;
}

.beige {
  background-color: #FDF8F9;
}

.beige .color-label {
  background-color: #FDF8F9;
  color: #1D1F20 !important;
}

.beige .color-hex {
  background-color: #FDF8F9;
  color: #1D1F20 !important;
}

.flesh {
  background-color: #F5DADF;
  color: #1D1F20 !important;
}

.flesh .color-label {
  background-color: #F5DADF;
  color: #1D1F20 !important;
}

.flesh .color-hex {
  background-color: #F5DADF;
  color: #1D1F20 !important;
}
/* fonts section */

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.roboto-condensed {
  font-family: 'Roboto Condensed', serif;
}

.libre-franklin {
  font-family: 'Libre Franklin 400', serif;
}

.merriweather {
  font-family: 'Merriweather', serif;
}

.regular {
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
  }